.error-result {
  padding-bottom: 64px;
}

.error-result__pic {
  width: 96px;
  height: 96px;
}

.error-result__title {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #1a1b22;
  margin: 0;
  padding-top: 20px;
}

.error-result__text {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 0 auto;
  max-width: 320px;
  padding-top: 18px;
}

@media screen and (max-width: 950px) {
  .error-result {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .error-result {
    padding: 0 0 28px;
  }
}
